@page "/AddDipendente"
@page "/AddDipendente/Info/{dipendenteid:int}"
@page "/AddDipendente/addVoti"
@page "/AddDipendente/Modifica/{dipendenteid:int}"
@using Gestionale.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
@inject NavigationManager Navigator
@code{
    Gestionale.Data.Control.DipendenteDbService personaleService = new Data.Control.DipendenteDbService();
    Gestionale.Data.Control.CorsoDbService corsoService = new Data.Control.CorsoDbService();
    Gestionale.Data.Control.ModuloDbService moduliService = new Data.Control.ModuloDbService();
    Gestionale.Data.Control.EsameDbService esameService = new Data.Control.EsameDbService();
}


@if (Navigator.Uri.Contains("/AddDipendente/Info"))
{
    <div class="row">
        <div class="col ml-3">
            <h2>@dip.Nome  @dip.Cognome</h2>
            <h3>@dip.Categoria</h3>
        </div>
        <div class="col-1 mr-3 mt-3">
            <a href="/Personale" class="btn mr-n2 float-right" title="Pagina principale"><img src="/css/back.png" width="35" height="32" /></a>
        </div>
    </div>

    <hr />

    // informazioni più dettagliate del dipendente
    <div class="container-fluid">
        <table class="table table-hover text-center">
            <thead>
                <tr class="table-secondary">
                    <th>Corso</th>
                    <th>Data di Nascita</th>
                    <th>Email</th>
                    <th>Telefono</th>
                    <th>Data Assunzione</th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="accordion" id="boolAccord">
                <tr>
                    <td>@corsoDip.Nome</td>
                    <td>@dip.DataNascita.ToString("dd/MM/yyyy")</td>
                    <td>@dip.Email</td>
                    <td>@dip.Telefono</td>
                    <td>@dip.Assunzione.ToString("dd/MM/yyyy")</td>
                    <td class="p-1"><a href="/AddDipendente/@dipendenteid" class="btn btn-link mr-n2 float-right" title="Modifica"><img src="/css/gear.ico" width="27" height="32" /></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    //Moduli del dipendente selezionato
    <div class="container-fluid">
        <h2>Moduli</h2>
        <table class="table table-hover text-center">
            <thead>
                <tr class="table-secondary">
                    <th>Materia modulo</th>
                    <th>Corso</th>
                    <th>Inizio Modulo</th>
                    <th>Fine Modulo</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody class="accordion" id="boolAccord">
                @if (dip.Categoria == "Coordinatore")
                {
                    @foreach (var m in listTotModuliC)
                    {
                        listEsami = esameService.Read(db, m).Result;
                        <tr>
                            <td>
                                <a href="/Moduli">@m.Materia</a>
                            </td>
                            <td>
                                <a href="/Corsi">@corsoDip.Nome</a>
                            </td>
                            <td>@m.DataInizio.ToString("dd/MM/yyyy")</td>
                            <td>@m.DataFine.ToString("dd/MM/yyyy")</td>
                            <td> <button class="btn btn-warning accordion-toggle" type="button" data-toggle="collapse" data-target="#@("e"+m.Id)">Esami</button></td>
                            <td class="p-1"><a href="/AddModulo/@m.Id" class="btn btn-link mr-n2 float-right" title="Modifica"><img src="/css/gear.ico" width="27" height="32" /></a></td>
                        </tr>
                        <!--Riga Esami-->
                        <tr>
                            <td colspan="8" class="hiddenRow p-0" style="background-color: white; box-shadow: 0px 0px 40px -11px rgba(0,0,0,0.75);">
                                <div class="table collapse p-3 container-fluid accordian-body" id="@("e"+m.Id)" data-parent="#boolAccord">
                                    <div class="row">
                                        <div class="col align-self-start">
                                            <h2>Esami del modulo @m.Materia</h2>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-danger accordion-toggle float-right mr-1" type="button" title="Chiudi" data-toggle="collapse" data-target="#@("e"+m.Id)"><b>x</b></button>
                                        </div>
                                    </div>

                                    @if (listEsami == null || !listEsami.Any())
                                    {
                                        <div class="row">
                                            <p class="col">Non è presente alcun esame per questo modulo. Aggiungine uno premendo il tasto verde.</p>
                                            <a href="/AddEsame/Create/@m.Id" class="btn btn-success mr-3" title="Aggiungi un nuovo Esame"><b>+</b></a>
                                        </div>
                                    }
                                    else
                                    {
                                        <table class="table table-hover table-sm">
                                            <thead>
                                                <tr class="table-secondary">
                                                    <td></td>
                                                    <th>N.</th>
                                                    <th>Modulo</th>
                                                    <th>Data Esame</th>
                                                    <th></th>
                                                    <th><a href="/AddEsame/Create/@m.Id" class="btn btn-success float-right" title="Aggiungi un nuovo Esame"><b>+</b></a></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var esame in listEsami)
                                                {
                                                    <!-- Vincola di visualizzare solo gli esami della materia appartenente -->
                                                    <tr>
                                                        <td>
                                                            <button class="btn btn-danger" title="Elimina questo Esame" @onclick="()=> BtnDeleteEsame(esame)">
                                                                <b>–</b>
                                                            </button>
                                                        </td>
                                                        <td>@esame.Id</td>
                                                        <td>@esame.Moduli.Materia</td>
                                                        <td>@esame.DataEsame.ToString("dd/MM/yy")</td>
                                                        <td style="text-align:center;">
                                                            <a href="/AddEsame/@esame.Id/List" class="btn btn-primary">Lista Partecipanti</a>
                                                        </td>
                                                        <td>
                                                            <a href="/AddEsame/@esame.Id" class="btn mr-n2 float-right" title="Modifica"><img src="/css/gear.ico" width="27" height="32" /></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table> <!-- fine tabella esami -->
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    @foreach (var m in listModuliDip)
                    {
                        listEsami = esameService.Read(db, m).Result;
                        <tr>
                            <td>
                                <a href="/Moduli">@m.Materia</a>
                            </td>
                            <td>
                                <a href="/Corsi">@corsoDip.Nome</a>
                            </td>
                            <td>@m.DataInizio.ToString("dd/MM/yyyy")</td>
                            <td>@m.DataFine.ToString("dd/MM/yyyy")</td>
                            <td> <button class="btn btn-warning accordion-toggle" type="button" data-toggle="collapse" data-target="#@("e"+m.Id)">Esami</button></td>
                            <td class="p-1"><a href="/AddModulo/@m.Id" class="btn btn-link mr-n2 float-right" title="Modifica"><img src="/css/gear.ico" width="27" height="32" /></a></td>
                        </tr>
                        <!--Riga Esami-->
                        <tr>
                            <td colspan="8" class="hiddenRow p-0" style="background-color: white; box-shadow: 0px 0px 40px -11px rgba(0,0,0,0.75);">
                                <div class="table collapse p-3 container-fluid accordian-body" id="@("e"+m.Id)" data-parent="#boolAccord">
                                    <div class="row">
                                        <div class="col align-self-start">
                                            <h2>Esami del modulo @m.Materia</h2>
                                        </div>
                                        <div class="col">
                                            <button class="btn btn-danger accordion-toggle float-right mr-1" type="button" title="Chiudi" data-toggle="collapse" data-target="#@("e"+m.Id)"><b>x</b></button>
                                        </div>
                                    </div>

                                    @if (listEsami == null || !listEsami.Any())
                                    {
                                        <div class="row">
                                            <p class="col">Non è presente alcun esame per questo modulo. Aggiungine uno premendo il tasto verde.</p>
                                            <a href="/AddEsame/Create/@m.Id" class="btn btn-success mr-3" title="Aggiungi un nuovo Esame"><b>+</b></a>
                                        </div>
                                    }
                                    else
                                    {
                                        <table class="table table-hover table-sm">
                                            <thead>
                                                <tr class="table-secondary">
                                                    <td></td>
                                                    <th>N.</th>
                                                    <th>Modulo</th>
                                                    <th>Data Esame</th>
                                                    <th></th>
                                                    <th><a href="/AddEsame/Create/@m.Id" class="btn btn-success float-right" title="Aggiungi un nuovo Esame"><b>+</b></a></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var esame in listEsami)
                                                {
                                                    <!-- Vincola di visualizzare solo gli esami della materia appartenente -->
                                                    <tr>
                                                        <td>
                                                            <button class="btn btn-danger" title="Elimina questo Esame" @onclick="()=> BtnDeleteEsame(esame)">
                                                                <b>–</b>
                                                            </button>
                                                        </td>
                                                        <td>@esame.Id</td>
                                                        <td>@esame.Moduli.Materia</td>
                                                        <td>@esame.DataEsame.ToString("dd/MM/yy")</td>
                                                        <td style="text-align:center;">
                                                            <a href="/AddEsame/@esame.Id/List" class="btn btn-primary">Lista Partecipanti</a>
                                                        </td>
                                                        <td>
                                                            <a href="/AddEsame/@esame.Id" class="btn mr-n2 float-right" title="Modifica"><img src="/css/gear.ico" width="27" height="32" /></a>
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table> <!-- fine tabella esami -->
                                    }
                                </div>
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>

    </div>
}
else if (Navigator.Uri.Contains("/AddDipendente/Modifica"))
{
    //modifica dipendente

    <div class="row">
        <div class="col ml-3">
            <h2>@dip.Nome  @dip.Cognome</h2>
            <h3>@dip.Categoria</h3>
        </div>
        <div class="col-1 mr-3 mt-3">
            <a href="/Personale" class="btn mr-n2 float-right" title="Pagina principale"><img src="/css/back.png" width="35" height="32" /></a>
        </div>
    </div>

    <hr />

    <EditForm Model="dip" OnSubmit="()=> BtnUpdate(dip)">
        <DataAnnotationsValidator />

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Nome</label>
                <InputText class="form-control" @bind-Value="dip.Nome">@dip.Nome</InputText>
            </div>
            <div class="form-group col-md-6">
                <label>Cognome</label>
                <InputText class="form-control" @bind-Value="dip.Cognome" required>@dip.Cognome</InputText>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Data di nascita</label>
                <InputDate class="form-control" @bind-Value="dip.DataNascita" required>@dip.DataNascita</InputDate>
            </div>
            <div class="form-group col-md-6">
                <label>Email</label>
                <InputText class="form-control" @bind-Value="dip.Email" required>@dip.Email</InputText>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Telefono</label>
                <InputText class="form-control" @bind-Value="dip.Telefono" required>@dip.Telefono</InputText>
            </div>
            <div class="form-group col-md-6">
                <label>Assunzione</label>
                <InputDate class="form-control" @bind-Value="dip.Assunzione" required>@dip.Assunzione</InputDate>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Categoria</label>
                <select class="form-control" @bind="dip.Categoria" required>
                    <option value="@dip.Categoria" selected>@dip.Categoria - Attualmente Selezionato</option>
                    @if (dip.Categoria == "Coordinatore")
                    {
                        <option value="Insegnante">Insegnante</option>
                        <option value="Tutor">Tutor</option>
                    }
                    else if (dip.Categoria == "Tutor")
                    {
                        <option value="Coordinatore">Coordinatore</option>
                        <option value="Insegnante">Insegnante</option>
                    }
                    else if (dip.Categoria == "Insegnante")
                    {
                        <option value="Coordinatore">Coordinatore</option>
                        <option value="Tutor">Tutor</option>
                    }
                    else // Lascio tutti e tre i valori per debug
                    {
                        <option value="Coordinatore">Coordinatore</option>
                        <option value="Insegnante">Insegnante</option>
                        <option value="Tutor">Tutor</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Corso</label>
                <select class="form-control" @bind="dip.CorsiId" required>
                    <option value="@dip.CorsiId" selected>@corsoDip.Nome - Attualmente Selezionato</option>
                    @foreach (var c in ListaCorsi)
                    {
                        if (c.Id == dip.CorsiId) { }
                        else
                        {
                            <option value="@c.Id">@c.Nome</option>
                        }
                    }
                </select>
            </div>
        </div>
        <hr />
        <button type="submit" value="save" class="btn btn-warning">Modifica</button>
    </EditForm>
}
else
{
    // Aggiunta nuovo dipendente
    <div class="row">
        <div class="col ml-3">
            <h2>Inserisci un nuovo Dipendente</h2>
        </div>
        <div class="col-1 mr-3 mt-3">
            <a href="/Personale" class="btn mr-n2 float-right" title="Pagina principale"><img src="/css/back.png" width="35" height="32" /></a>
        </div>
    </div>

    <hr />

    <EditForm Model="dip" OnSubmit="()=> BtnSalva(dip)">
        <DataAnnotationsValidator />

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Nome</label>
                <InputText class="form-control" @bind-Value="dip.Nome" required />
            </div>
            <div class="form-group col-md-6">
                <label>Cognome</label>
                <InputText class="form-control" @bind-Value="dip.Cognome" required />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Data di nascita</label>
                <InputDate class="form-control" @bind-Value="dip.DataNascita" required></InputDate>
            </div>
            <div class="form-group col-md-6">
                <label>Email</label>
                <InputText class="form-control" @bind-Value="dip.Email" required />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Telefono</label>
                <InputText class="form-control" @bind-Value="dip.Telefono" required />
            </div>
            <div class="form-group col-md-6">
                <label>Assunzione</label>
                <InputDate class="form-control" @bind-Value="dip.Assunzione" required></InputDate>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Categoria</label>
                <select class="form-control" @bind="dip.Categoria" required>
                    <option value="Coordinatore">Coordinatore</option>
                    <option value="Insegnante">Insegnante</option>
                    <option value="Tutor">Tutor</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label>Corso</label>
                <select class="form-control" @bind="dip.CorsiId" required>
                    @foreach (var c in ListaCorsi)
                    {
                        <option value="@c.Id">@c.Nome</option>
                    }
                </select>
            </div>
        </div>
        <hr />
        <button type="submit" value="save" class="btn btn-primary">Inserisci</button>
    </EditForm>
}


@code {
    [Parameter]
    public int dipendenteid { get; set; }
    public int idCorsodip { get; set; }
    public int idmodulo { get; set; }
    public Corso corsoDip { get; set; }
    public ICollection<Modulo> listTotModuliC { get; set; }
    public ICollection<Modulo> listModuliDip { get; set; }
    public Dipendente dip = new Dipendente();
    public ICollection<Esame> listEsami { get; set; }


    private Corso[] ListaCorsi;
    private Dipendente[] ListaDip;
    private Esame[] ListaEsami;

    protected override async Task OnInitializedAsync()
    {
        ListaCorsi = await db.Corsi.OrderBy(c => c.Nome).ToArrayAsync();

        if (Navigator.Uri.Contains("/AddDipendente/Info"))
        {
            dip = personaleService.Read(db, dipendenteid).Result;
            idCorsodip = dip.CorsiId;
            corsoDip = corsoService.Read(db, idCorsodip).Result;

            listTotModuliC = corsoService.Read(db, corsoDip.Nome).Result.Moduli; // lista totale del corso

            listModuliDip = moduliService.Read(db, dip).Result;

        }
        else if (Navigator.Uri.Contains("/AddDipendente/Modifica"))
        {
            dip = personaleService.Read(db, dipendenteid).Result;
            idCorsodip = dip.CorsiId;
            corsoDip = corsoService.Read(db, idCorsodip).Result;

        }
    }
    protected async Task BtnSalva(Dipendente d)
    {
        switch (d.Categoria)
        {
            case "Coordinatore":
                await personaleService.Create(db, new Coordinatore(d));
                break;
            case "Tutor":
                await personaleService.Create(db, new Tutor(d));
                break;
            case "Insegnante":
                await personaleService.Create(db, new Insegnante(d));
                break;
        }

        ListaCorsi = await db.Corsi.ToArrayAsync();
        ListaDip = await db.Dipendente.ToArrayAsync();
        StateHasChanged();

        Navigator.NavigateTo("/Personale");
    }
    protected async Task BtnUpdate(Dipendente d)
    {
        await personaleService.Update(db, dip);
        ListaDip = await db.Dipendente.ToArrayAsync();
        StateHasChanged();
        Navigator.NavigateTo("/Personale");
    }
    protected async Task BtnDeleteEsame(Esame e)
    {
        await esameService.Delete(db, e);
        ListaEsami = await db.Esami.ToArrayAsync();
        StateHasChanged();
    }
}
