@page "/AddPartecipanti"
@page "/AddPartecipanti/{Id:int}"
@using Gestionale.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
@inject NavigationManager navigationManager

@code{
    Gestionale.Data.Control.IscrizioneDbService IscrizioneDb = new Data.Control.IscrizioneDbService();
}

@if (Id == 0)
{
    <a href="/Partecipanti" class="btn mr-n2 float-right" title="Pagina principale"><img src="/css/back.png" width="35" height="32" /></a>
    <h2>Inserisci un nuovo partecipante</h2>

    <hr />

    <EditForm Model="P" OnSubmit="() => SaveNuovoPartecipante()">
        <DataAnnotationsValidator />

        <div class="form-row">
            @*<form>
                    <div class="form-group">
                        <label>Inserisci la foto del partecipante</label>
                        <input type="file" class="form-control-file">
                    </div>
                </form>*@
            <div class="form-group col-md-6">
                <label>Nome</label>
                <InputText class="form-control" @bind-Value="P.Nome" required />

            </div>
            <div class="form-group col-md-6">
                <label>Cognome</label>
                <InputText class="form-control" @bind-Value="P.Cognome" required />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Data di nascita</label>
                <InputDate class="form-control" @bind-Value="P.DataNascita" required></InputDate>
            </div>
            <div class="form-group col-md-6">
                <label>Email</label>
                <InputText class="form-control" @bind-Value="P.Email" required />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Indirizzo</label>
                <InputText class="form-control" @bind-Value="P.Indirizzo" required />
            </div>
            <div class="form-group col-md-6">
                <label>Città</label>
                <InputText class="form-control" @bind-Value="P.Citta" required />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Telefono</label>
                <InputText class="form-control" @bind-Value="P.Telefono" required />
            </div>
            <div class="form-group col-md-6">
                <label>Diploma</label>
                <InputText class="form-control" @bind-Value="P.Diploma" required />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Anno del diploma</label>
                <InputDate class="form-control" @bind-Value="P.AnnoDiploma" required></InputDate>
            </div>
            <div class="form-group col-md-6">
                <label>Corso</label>
                <select class="form-control" @bind="P.CorsiId" required>
                    <option value=""></option>
                    @foreach (var Corso in ListaCorsi)
                    {
                        <option value="@Corso.Id">@Corso.Nome</option>
                    }
                </select>
            </div>
        </div>
        <hr />
        <button type="submit" value="save" class="btn btn-primary">Inserisci</button>
    </EditForm> 
}
else
{
    @foreach (var Alunno in ListaPartecipanti)
    {
        if (Id == Alunno.Id)
        {
            ThisAlunno = Alunno;
        }
    }

    <a href="/Partecipanti" class="btn mr-n2 float-right" title="Pagina principale"><img src="/css/back.png" width="35" height="32" /></a>
    <h2>Partecipante @ThisAlunno.Nome @ThisAlunno.Cognome</h2>

    <hr />

    <EditForm Model="P" OnSubmit="() => SaveNuovoPartecipante()">
        <DataAnnotationsValidator />

        <div class="form-row">
            @*<form>
                    <div class="form-group">
                        <label>Inserisci la foto del partecipante</label>
                        <input type="file" class="form-control-file">
                    </div>
                </form>*@
            <div class="form-group col-md-6">
                <label>Nome</label>
                <InputText class="form-control" @bind-Value="P.Nome" required />
            </div>
            <div class="form-group col-md-6">
                <label>Cognome</label>
                <InputText class="form-control" @bind-Value="P.Cognome" required />
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Data di nascita</label>
                <InputDate class="form-control" @bind-Value="P.DataNascita" required></InputDate>
            </div>
            <div class="form-group col-md-6">
                <label>Email</label>
                <InputText class="form-control" @bind-Value="P.Email" required />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Indirizzo</label>
                <InputText class="form-control" @bind-Value="P.Indirizzo" required />
            </div>
            <div class="form-group col-md-6">
                <label>Città</label>
                <InputText class="form-control" @bind-Value="P.Citta" required />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Telefono</label>
                <InputText class="form-control" @bind-Value="P.Telefono" required />
            </div>
            <div class="form-group col-md-6">
                <label>Diploma</label>
                <InputText class="form-control" @bind-Value="P.Diploma" required />
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-6">
                <label>Anno del diploma</label>
                <InputDate class="form-control" @bind-Value="P.AnnoDiploma" required></InputDate>
            </div>
            <div class="form-group col-md-6">
                <label>Corso</label>
                <select class="form-control" @bind="P.CorsiId" required>
                    <option value="@P.Corsi.Id">@P.Corsi.Nome - Attualmente Selezionato</option>
                    @foreach (var Corso in ListaCorsi)
                    {
                        if (Corso.Id == P.CorsiId) {} // Verifica se il corso attualmente associato non si ripeta nella lista
                        else
                        {
                            <option value="@Corso.Id">@Corso.Nome</option>
                        }
                    }
                </select>
            </div>
        </div>
        <hr />
        <button type="submit" value="save" class="btn btn-warning">Modifica</button>

    </EditForm>
}

@code { 
    [Parameter]
    public int Id { get; set; }

    private Corso[] ListaCorsi;

    private Partecipante[] ListaPartecipanti;

    private Dipendente[] ListaDipendenti;


    private Partecipante P = new Partecipante()
    {
        DataNascita = DateTime.Now,
        AnnoDiploma = DateTime.Now
    };
    private Partecipante ThisAlunno = new Partecipante();


    protected override async Task OnInitializedAsync()
    {
        ListaCorsi = await db.Corsi.OrderBy(c => c.Nome).ToArrayAsync();

        ListaPartecipanti = await db.Partecipanti.ToArrayAsync();
        ListaDipendenti = await db.Dipendente.ToArrayAsync();

        if (Id == 0)
        {

        }
        else
        {
            P = await db.Partecipanti.FindAsync(Id);
        }
    }


    private async Task SaveNuovoPartecipante()

    {
        if (Id == 0)
        {
            Iscrizione iscrizione = new Iscrizione(P.CorsiId);

            await IscrizioneDb.Create(db, iscrizione);
            P.IscrizioneId = iscrizione.Id;
            if (P.Punteggi == null) { }
            db.Partecipanti.Add(P);
            await db.SaveChangesAsync();

            navigationManager.NavigateTo("/Partecipanti");
        }
        else
        {
            await db.SaveChangesAsync();
        }


    } }