@page "/Corsi"
@using Gestionale.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
@inject NavigationManager Navigator
@inject IJSRuntime js
@code
{
    Gestionale.Data.Control.ModuloDbService moduloService = new Data.Control.ModuloDbService();
}
  

<div class="row mb-2">
    <div class="col align-self-start">
        <h2>Corsi</h2>
    </div>
    <div class="col-3">
        <input id="SearchBar" type="search" class="form-control" placeholder="Cerca...">
    </div>
</div>


@if (ListaCorsi == null || !ListaCorsi.Any())
{

    <div class="mr-4">
        <button @onclick='() => { BtnChangedPag("/AddCorsi"); }' class="btn btn-success" title="Aggiungi un nuovo corso"><b>+</b></button>
        <p>Non è presente alcun corso. Aggiungine uno premendo il tasto verde.</p>
    </div>
}
else
{

    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th></th>
                <th>Nome</th>
                <th>Anno Accademico</th>
                <th>Anno Inizio Corso</th>
                <th>Anno Fine Corso</th>
                <th>Sede</th>
                <th></th>
                <th class="text-center" style="width: 1px;"><button @onclick='() => { BtnChangedPag("/AddCorsi"); }' class="btn btn-success" title="Aggiungi un nuovo corso."><b>+</b></button></th>

            </tr>
        </thead>
        <tbody class="accordion bodySearch" id="boolAccord">
            @foreach (var ThisCorso in ListaCorsi)
            {

                <tr class="trSearch">
                    <td>
                        <button class="btn btn-danger" title="Elimina questo corso" data-toggle="modal" data-target="#myModal" @onclick="() => ControlloDelete(ThisCorso)"   ><b>–</b></button> <!-- Aggiungere Funzione -->
                    </td>
                    <td>@ThisCorso.Nome</td>
                    <td>@ThisCorso.AnnoAccademico</td>
                    <td>@ThisCorso.AnnoInizioCorso.ToString("dd/MM/yyyy")</td>
                    <td>@ThisCorso.AnnoFineCorso.ToString("dd/MM/yyyy")</td>
                    <td>@ThisCorso.Sede</td>
                    <td style="text-align:center;">
                        <button @onclick='() => { BtnChangedPag("/AddCorsi/moduli/" + ThisCorso.Id);}' class="btn btn-warning accordion-toggle" type="button" data-toggle="collapse" data-target="#@("e" + ThisCorso.Id)">Moduli</button>
                    </td>
                    <td>
                        <button @onclick='() => { BtnChangedPag("/AddCorsi/" + ThisCorso.Id); }' class="btn btn-link mr-n2 float-right" title="Modifica"><img src="images/icon/gear.ico" width="27" height="32" /></button>
                    </td>
                </tr>


            }
        </tbody>
    </table>
}
<!-- Modale Conferma Delete dei Corsi-->
<div class="modal fade" id="myModal" style="box-shadow: 0px 0px 40px -11px rgba(0,0,0,0.75);" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Gestionale</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
           
                <div class=" modal-body divConferma border">
                    <p><strong>Sei sicuro di voler eliminare il Corso: @cdel.Nome?</strong></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" title="Annulla" data-dismiss="modal"><b>Annulla</b></button>
                    <button class="btn btn-danger" title="Elimina" @onclick="()=>DeleteCorso(cdel)" data-dismiss="modal"><b>Elimina</b></button>
                </div>
            
               
            

        </div>
    </div>
</div>

@code {

    private Corso[] ListaCorsi;
    private Modulo[] ListaModuli;
    private Esame[] ListaEsami;
    private Insegnante[] ListaInsegnanti;
    private Dipendente[] ListaPersonale;
    private Coordinatore[] ListaCoordinatori;
    private Corso cdel = new Corso();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("Global");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        ListaCorsi = await db.Corsi.ToArrayAsync();
        ListaModuli = await db.Moduli.ToArrayAsync();
        ListaEsami = await db.Esami.ToArrayAsync();
        ListaPersonale = await db.Dipendente.ToArrayAsync();
        ListaCoordinatori = await db.Coordinatori.ToArrayAsync();
    }

    private async Task DeleteCorso(Corso corso)
    {
        db.Corsi.Remove(corso);
        db.SaveChanges();

        await OnInitializedAsync();

        StateHasChanged();
    }
    protected void BtnChangedPag(string uri)
    {
        Navigator.NavigateTo(uri, true);
    }

    private async Task DeleteModulo(Modulo modulo)
    {
        await moduloService.Delete(db, modulo);

        if (modulo.Esami == null) { } // Debug: evita il crash se al delete del modulo non sono presenti esami
        else
        {
            foreach (var esame in modulo.Esami) // Cancella i relativi esami di quel modulo
            {
                db.Esami.Remove(esame);

                if (esame.Punteggi == null) { } // Debug: evita il crash se al delete dell'esame non sono presenti punteggi
                else
                {
                    foreach (var voto in esame.Punteggi) // Cancella i relativi voti di quel'esame
                    {
                        db.Punteggi.Remove(voto);
                    }
                }
            }
        }

        await OnInitializedAsync();
        StateHasChanged();
    }

    private async Task DeleteEsame(Esame esame)
    {
        db.Esami.Remove(esame);

        if (esame.Punteggi == null) { } // Debug: evita il crash se al delete dell'esame non sono presenti punteggi
        else
        {
            foreach (var voto in esame.Punteggi) // Cancella i relativi voti di quel'esame
            {
                db.Punteggi.Remove(voto);
            }
        }

        db.SaveChanges();

        await OnInitializedAsync();

        StateHasChanged();
    }

    protected void ControlloDelete(Corso c)
    {
        cdel = c;

    }
}
