@page "/Corsi"
@using Gestionale.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
@inject NavigationManager Navigator
@inject IJSRuntime js

    <div class="row mb-2">
        <div class="col align-self-start">
            <h2>Corsi</h2>
        </div>
        <div class="col-3">
            <input id="SearchBar" type="search" class="form-control" placeholder="Cerca...">
        </div>
    </div>


@if (ListaCorsi == null || !ListaCorsi.Any())
{

    <div class="mr-4">
        <button @onclick='() => { BtnChangedPag("/AddCorsi"); }' class="btn btn-success" title="Aggiungi un nuovo corso"><b>+</b></button>
        <p>Non è presente alcun corso. Aggiungine uno premendo il tasto verde.</p>
    </div>
}
else
{

    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th></th>
                <th>Nome</th>
                <th>Anno Accademico</th>
                <th>Anno Inizio Corso</th>
                <th>Anno Fine Corso</th>
                <th>Sede</th>
                <th></th>
                <th class="text-center" style="width: 1px;"><button @onclick='() => { BtnChangedPag("/AddCorsi"); }' class="btn btn-success" title="Aggiungi un nuovo corso."><b>+</b></button></th>

            </tr>
        </thead>
        <tbody class="accordion bodySearch" id="boolAccord">
            @foreach (var ThisCorso in ListaCorsi)
            {

                <tr class="trSearch">
                    <td>
                        <button class="btn btn-danger" title="Elimina questo corso" @onclick="() => DeleteCorso(ThisCorso)"><b>–</b></button> <!-- Aggiungere Funzione -->
                    </td>
                    <td>@ThisCorso.Nome</td>
                    <td>@ThisCorso.AnnoAccademico</td>
                    <td>@ThisCorso.AnnoInizioCorso.ToString("dd/MM/yyyy")</td>
                    <td>@ThisCorso.AnnoFineCorso.ToString("dd/MM/yyyy")</td>
                    <td>@ThisCorso.Sede</td>
                    <td style="text-align:center;">
                        <button @onclick='() => { BtnChangedPag("/AddCorsi/moduli/" + ThisCorso.Id);}' class="btn btn-warning accordion-toggle" type="button" data-toggle="collapse" data-target="#@("e" + ThisCorso.Id)">Moduli</button>
                    </td>
                    <td>
                        <button @onclick='() => { BtnChangedPag("/AddCorsi/" + ThisCorso.Id); }' class="btn btn-link mr-n2 float-right" title="Modifica"><img src="images/icon/gear.ico" width="27" height="32" /></button>
                    </td>
                </tr>


            }
        </tbody>
    </table>
}

@code {

    private Corso[] ListaCorsi;
    private Modulo[] ListaModuli;
    private Esame[] ListaEsami;
    private Insegnante[] ListaInsegnanti;
    private Dipendente[] ListaPersonale;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await js.InvokeVoidAsync("Global");
        }
    }

    protected override async Task OnInitializedAsync()
    {
        ListaCorsi = await db.Corsi.ToArrayAsync();
        ListaModuli = await db.Moduli.ToArrayAsync();
        ListaEsami = await db.Esami.ToArrayAsync();
        ListaPersonale = await db.Dipendente.ToArrayAsync();

    }

    private async Task DeleteCorso(Corso corso)
    {
        db.Corsi.Remove(corso);
        db.SaveChanges();

        await OnInitializedAsync();

        StateHasChanged();
    }
    protected void BtnChangedPag(string uri)
    {
        Navigator.NavigateTo(uri, true);
    }
}