@page "/Moduli"
@using Gestionale.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
@code{
    Gestionale.Data.Control.ModuloDbService moduloService = new Data.Control.ModuloDbService();
}

<div class="row mb-2">
    <div class="col align-self-start">
        <h2>Moduli</h2>
    </div>
</div>


@if (ListaModuli == null || !ListaModuli.Any())
{
    <p>Non è presente alcun modulo per questo corso. Aggiungine uno premendo il tasto verde.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th></th>
                <th>Materia modulo</th>
                <th>Corso</th>
                <th>Inizio Modulo</th>
                <th>Fine Modulo</th>
                <th>Insegnante</th>
                <th></th>
                <th class="text-center" style="width: 1px;"><a href="/AddModulo" class="btn btn-success" title="Aggiungi un nuovo modulo"><b>+</b></a></th>
            </tr>
        </thead>
        <tbody class="accordion" id="boolAccord">
            @foreach (var modulo in ListaModuli)
            {
                <tr>
                    <td>
                        <button class="btn btn-danger" title="Elimina questo modulo" @onclick="()=> DeleteModulo(modulo)"><b>–</b></button> <!-- Aggiungere Funzione -->
                    </td>
                    <td>@modulo.Materia</td>
                    <td>@modulo.Corsi.Nome</td>
                    <td>@modulo.DataInizio.ToString("dd/MM/yyyy")</td>
                    <td>@modulo.DataFine.ToString("dd/MM/yyyy")</td>
                    <td>@(modulo.Insegnanti.Nome + " " + modulo.Insegnanti.Cognome)</td>
                    <td style="text-align:center;">
                        <button class="btn btn-warning accordion-toggle" type="button" data-toggle="collapse" data-target="#@("e"+modulo.Id)">Esami</button>
                    </td>
                    <td>
                        <a href="/AddModulo/@modulo.Id" class="btn btn-link mr-n2 float-right" title="Modifica"><img src="/css/gear.ico" width="27" height="32" /></a>
                    </td>
                </tr>

                <!-- Riga nascosta degli esami -->
                <tr>
                    <td colspan="8" class="hiddenRow p-0" style="background-color: white; box-shadow: 0px 0px 40px -11px rgba(0,0,0,0.75);">
                        <div class="table collapse p-3 container-fluid accordian-body" id="@("e"+modulo.Id)" data-parent="#boolAccord">
                            <div class="row">
                                <div class="col align-self-start">
                                    <h2>Esami del modulo @modulo.Materia</h2>
                                </div>
                                <div class="mr-3">
                                    <a href="/Moduli" class="btn btn-danger" title="Chiudi"><b>x</b></a>
                                </div>
                            </div>

                            @if (modulo.Esami == null || !modulo.Esami.Any())
                            {
                                <p>Non è presente alcun esame per questo modulo. Aggiungine uno premendo il tasto verde.</p>
                            }
                            else
                            {
                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr class="table-secondary">
                                            <td></td>
                                            <th>N.</th>
                                            <th>Modulo</th>
                                            <th>Data Esame</th>
                                            <th></th>
                                            <th><a href="/AddEsame" class="btn btn-success" title="Aggiungi un nuovo Esame"><b>+</b></a></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var esame in modulo.Esami)
                                        {
                                            <!-- Vincola di visualizzare solo gli esami della materia appartenente -->
                                            <tr>
                                                <td>
                                                    <button class="btn btn-danger" title="Elimina questo Esame" @onclick="()=> DeleteEsame(esame)">
                                                        <b>–</b>
                                                    </button>
                                                </td>
                                                <td>@esame.Id</td>
                                                <td>@esame.Moduli.Materia</td>
                                                <td>@esame.DataEsame.ToString("dd/MM/yy")</td>
                                                <td style="text-align:center;">
                                                    <a href="/AddEsame/@esame.Id/List" class="btn btn-primary">Lista Partecipanti</a>
                                                </td>
                                                <td>
                                                    <a href="/AddEsame/@esame.Id" class="btn mr-n2 float-right" title="Modifica"><img src="/css/gear.ico" width="27" height="32" /></a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table> <!-- fine tabella esami -->
                            }
                        </div>
                    </td>
                </tr>
                <!-- fine riga nascosta tabella esami -->
            }
            <!-- Riga vuota per debug del collapse, senza l'ultima riga non riesce ad aprire collapse -->
            <tr>
                <td>
                </td>
            </tr>
        </tbody>
    </table> <!-- fine tabella moduli -->
}


@code {

    private Corso[] ListaCorsi;
    private Modulo[] ListaModuli;
    private Esame[] ListaEsami;
    private Insegnante[] ListaInsegnanti;


    protected override async Task OnInitializedAsync()
    {
        ListaCorsi = await db.Corsi.ToArrayAsync();
        ListaModuli = await db.Moduli.ToArrayAsync();
        ListaEsami = await db.Esami.ToArrayAsync();
        ListaInsegnanti = await db.Insegnanti.ToArrayAsync();
    }

    private async Task DeleteModulo(Modulo modulo)
    {
        await moduloService.Delete(db, modulo);
        await OnInitializedAsync();
        StateHasChanged();
    }

    private async Task DeleteEsame(Esame esame)
    {
        db.Esami.Remove(esame);
        db.SaveChanges();

        await OnInitializedAsync();

        StateHasChanged();
    }
}
