@page "/Moduli"
@using Gestionale.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db


<div class="row mb-2">
    <div class="col align-self-start">
        <h2>Moduli</h2>
    </div>
    <div class="mr-4">
        <a href="/AddModulo" class="btn btn-success" title="Aggiungi un nuovo modulo"><b>+</b></a>
    </div>
</div>


@if (ListaModuli == null)
{
    <p>Non è presente alcun modulo per questo corso. Aggiungine uno premendo il tasto verde.</p>
}
else
{
    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th></th>
                <th>Materia modulo</th>
                <th>Corso</th>
                <th>Inizio Modulo</th>
                <th>Fine Modulo</th>
                <th>Insegnante</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="accordion" id="boolAccord">
            @foreach (var Modulo in ListaModuli)
            {
            <tr>
                <td>
                    <button class="btn btn-outline-danger" title="Elimina questo modulo"><b>–</b></button> <!-- Aggiungere Funzione -->
                </td>
                <td>@Modulo.Materia</td>
                <td>@Modulo.Corsi.Nome</td>
                <td>@Modulo.DataInizio.ToString("dd/MM/yyyy")</td>
                <td>@Modulo.DataFine.ToString("dd/MM/yyyy")</td>
                <td>@(Modulo.Personale.Nome + " " + Modulo.Personale.Cognome)</td>
                <td style="text-align:center;">
                    <button class="btn btn-secondary accordion-toggle" type="button" data-toggle="collapse" data-target="#@("e"+Modulo.Id)" >Esami</button>
                </td>
                <td>
                    <a href="/AddModulo/@Modulo.Id" class="btn btn-link mr-n2 float-right"><img src="/css/gear.ico" width="27" height="32" /></a>
                </td>
            </tr>
                <!-- Riga nascosta degli esami -->
                <tr>
                    <td colspan="8" class="hiddenRow p-0" style="background-color: white; box-shadow: 0px 0px 40px -11px rgba(0,0,0,0.75);">
                        <div class="table collapse p-3 container accordian-body" id="@("e"+Modulo.Id)" data-parent="#boolAccord">
                            <div class="row">
                                <div class="col align-self-start">
                                    <h2>Esami del modulo @Modulo.Materia</h2>
                                </div>
                                <div class="mr-3">
                                    <button class="btn btn-success" title="Aggiungi un nuovo Esame"><b>+</b></button>
                                </div>
                            </div>

                            @if (ListaEsami == null)
                            {
                                <p>Non è presente alcun esame per questo modulo. Aggiungine uno premendo il tasto verde.</p>
                            }
                            else
                            {
                                <table class="table table-hover table-sm">
                                    <thead>
                                        <tr class="table-secondary">
                                            <td></td>
                                            <th>N.</th>
                                            <th>Modulo</th>
                                            <th>Data Esame</th>                                            
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Esame in Modulo.Esami)
                                        {
                                            <!-- Vincola di visualizzare solo gli esami della materia appartenente -->
                                            <tr>
                                                <td>
                                                    <button class="btn btn-outline-danger" title="Elimina questo modulo">
                                                        <b>–</b>
                                                    </button> <!-- Aggiungere Funzione -->
                                                </td>
                                                <td>@Esame.Id</td>
                                                <td>@Esame.Moduli.Materia</td>
                                                <td>@Esame.DataEsame.ToString("dd/MM/yy")</td>
                                                <td></td> <!-- AGGIUNGERE Media punteggio classe -->
                                                <td style="text-align:center;">
                                                    <button class="btn btn-secondary">Lista Partecipanti</button>
                                                </td>
                                                <td>
                                                    <button class="btn mr-n2 float-right"><img src="/css/gear.ico" width="27" height="32" /></button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table> <!-- fine tabella esami -->
                            }
                        </div>
                    </td>
                </tr> <!-- fine riga nascosta tabella esami -->
            }
            <!-- Riga vuota per debug del collapse, senza l'ultima riga non riesce ad aprire collapse -->
            <tr>
                <td>
                </td>
            </tr>
        </tbody>
    </table> <!-- fine tabella moduli -->
}


@code {

    public double? prova = 0;
    public int recuperoIdPartecipante;
    private Corsi[] ListaCorsi;
    private Moduli[] ListaModuli;
    private Esami[] ListaEsami;
    private Partecipanti[] ListaPartecipanti;
    private Personale[] ListaPersonale;
    private Insegnanti[] ListaInsegnanti;
    private Tutor[] ListaTutor;


    protected override async Task OnInitializedAsync()
    {
        ListaCorsi = await db.Corsi.ToArrayAsync();
        ListaModuli = await db.Moduli.ToArrayAsync();
        ListaEsami = await db.Esami.ToArrayAsync();
        ListaPartecipanti = await db.Partecipanti.ToArrayAsync();
        ListaPersonale = await db.Personale.ToArrayAsync();
        ListaInsegnanti = await db.Insegnanti.ToArrayAsync();
        ListaTutor = await db.Tutor.ToArrayAsync();
    }

    private async Task UpdateVote()
    {
        var p = db.Partecipanti.Find(recuperoIdPartecipante);
        p.punteggio = prova;

        await db.SaveChangesAsync();

        StateHasChanged();
    }

    private Moduli NuovoModulo = new Moduli()
    {
        DataInizio = DateTime.Now,
        DataFine = DateTime.Now
    };

    private void SaveNuovoModulo()
    {
        db.Moduli.Add(NuovoModulo);
        db.SaveChanges();

        ListaModuli = db.Moduli.ToArray();

        StateHasChanged();
    }

    private Esami NuovoEsame = new Esami()
    {
        DataEsame = DateTime.Now
    };

    private void SaveNuovoEsame()
    {
        db.Esami.Add(NuovoEsame);
        db.SaveChanges();

        ListaEsami = db.Esami.ToArray();

        StateHasChanged();
    }


}
