@page "/Partecipanti"
@using Gestionale.Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext db
<div class="row mb-2">
    <div class="col align-self-start">
        <h2>Partecipanti</h2>
    </div>
</div>


@if (ListaPartecipanti == null || !ListaPartecipanti.Any())
{
    <p>Aggiungi un nuovo partecipante con il tasto verde!</p> }
else
{
    <table class="table table-hover">
        <thead>
            <tr class="table-secondary">
                <th></th>
                <th>Nome</th>
                <th>Cognome</th>
                <th>Data di nascita</th>
                <th>Indirizzo</th>
                <th>Città</th>
                <th>Telefono</th>
                <th>E-Mail</th>
                <th>Diploma</th>
                <th>Anno Diploma</th>
              <!-- <th>Data dell'Iscrizione</th>-->
                <th>Corso</th>
                <th></th>
                <th class="text-center" style="width: 1px;"><a href="/AddPartecipanti" class="btn btn-success" title="Aggiungi un nuovo partecipante"><b>+</b></a></th>
            </tr>
        </thead>
        <tbody class="accordion" id="boolAccord">
            @foreach (var Partecipante in ListaPartecipanti)
            {
                <tr>
                    <td>
                        <button class="btn btn-danger" title="Elimina questo partecipante" @onclick="()=> DeletePartecipante(Partecipante)"><b>–</b></button> <!-- Aggiungere Funzione -->
                    </td>
                    <td>@Partecipante.Nome</td>
                    <td>@Partecipante.Cognome</td>
                    <td>@Partecipante.DataNascita.ToString("dd/MM/yyyy")</td>
                    <td>@Partecipante.Indirizzo</td>
                    <td>@Partecipante.Citta</td>
                    <td>@Partecipante.Telefono</td>
                    <td>@Partecipante.Email</td>
                    <td>@Partecipante.Diploma</td>
                    <td>@Partecipante.AnnoDiploma.ToString("dd/MM/yyyy")</td>                   
                    <td>@Partecipante.Corsi.Nome</td>
                    <td style="text-align:center;">
                    </td>
                    <td>
                        <a href="/AddPartecipanti/@Partecipante.Id" class="btn btn-link mr-n2 float-right" title="Modifica"><img src="/css/gear.ico" width="27" height="32" /></a>
                    </td>
                </tr>
            }
            <!-- Riga vuota per debug del collapse, senza l'ultima riga non riesce ad aprire collapse -->
            <tr>
                <td>
                </td>
            </tr>
        </tbody>
    </table>}

@code { 
    private Corso[] ListaCorsi; 
    private Partecipante[] ListaPartecipanti;
    private Iscrizione[] ListaIscrizioni;
    protected override async Task OnInitializedAsync()
    {
        //ListaModuli = await db.Moduli.ToArrayAsync();

        ListaPartecipanti = await db.Partecipanti.ToArrayAsync();
        ListaCorsi = await db.Corsi.ToArrayAsync();
        ListaIscrizioni = await db.Iscrizioni.ToArrayAsync();
    }
    private async Task DeletePartecipante(Partecipante alunno)
    {
        db.Partecipanti.Remove(alunno);
        db.SaveChanges();

        await OnInitializedAsync();

        StateHasChanged();
    } }
